* {
  box-sizing: border-box;
}

:root {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  --heading-clr: hsl(233, 26%, 24%);
  --text-clr: hsl(233, 8%, 62%);
  --body-clr: hsl(0, 0%, 100%);
  --hover-clr: hsl(136, 65%, 51%);
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  background: var(--body-clr);
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.main-header__main-nav {
  display: none;
}

/* *** TYPOGRAPHY *** */

h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: var(--heading-clr);
}

h1 {
  font-size: 2rem;
}

p {
  color: var(--text-clr);
  font-size: 0.8rem;
  line-height: 1.6em;
}

a {
  text-decoration: none;
}

/* *** BUTTONS *** */

.btn-primary {
  width: 11em;
  height: 3em;
  color: white;
  font-weight: 700;
  background: linear-gradient(0.25turn, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: none;
  border-radius: 2em;
  transition: 0.3s;
}

/* *** LAYOUT ***  */

/* ** MAIN HEADER ** */

.main-header__mobile-logo-nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
}

.main-header__mobile-background {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 60vh;
}

.main-header__mobile-green-background {
  position: relative;
  width: 100%;
  max-height: 900px;
  top: 0;
  right: 0;
}

.main-header__desktop-green-background {
  display: none;
}

.main-header__mobile-phones {
  position: absolute;
  max-height: 700px;
  max-width: 100%;
  transform: translateX(-50%);
  padding: 0 1em;
  top: -29%;
  left: 50%;
}

.main-header__button {
  display: none;
}

.hero {
  padding: 0 1em;
}

.hero__title {
  margin: 0 0 0.5em 0;
}

.hero__subtitle {
  margin-bottom: 2em;
}

.hero__button {
  margin-bottom: 5em;
}

/* ** PERKS SECTION ** */

.perks {
  margin-bottom: 5em;
  padding: 2em 1em;
  background: hsl(220, 16%, 96%);
}

.perks__subtitle {
  margin-bottom: 4em;
}

.perk {
  margin-bottom: 2em;
}

.perk__image {
  margin: 0 auto;
}

/* ** ARTICLES SECTION ** */

.articles {
  margin: 0 auto;
  padding: 0 1.2em;
  background: hsl(0, 0%, 100%);
}

.article {
  max-width: 500px;
  margin: 0 auto 3em auto;
}

.articles__title {
  margin-bottom: 1.2em;
}

.article__image {
  margin: 0 auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.article__text {
  padding: 0.5em 1.5em;
  text-align: left;
}

.article__author {
  font-size: 0.6rem;
}

.article__heading {
  margin: 0;
  transition: 0.3s;
}

.article__description {
  margin: 0.5em 0;
}

/* ** FOOTER ** */

.footer {
  margin-top: 6em;
  background: hsl(233, 26%, 24%);
}

.footer__logo {
  margin: 0 auto;
  padding: 2em 0 1em 0;
}

.footer-nav-media__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer-nav-media__link {
  margin-left: 2.3em;
}

.footer-nav-media__image {
  width: 25px;
}

.footer__nav {
  margin: 2em 0;
}

.footer-nav__list {
  color: hsl(0, 0%, 100%);
  margin: 2em 0;
  padding: 0;
}

.footer-nav__link {
  padding: 0;
  font-size: 0.9rem;
  color: hsl(0, 0%, 100%);
  transition: 0.3s;
}

.footer-nav__item {
  margin: 1em 0;
  padding: 0;
  font-size: 0.9rem;
}

.footer__copyright-text {
  padding-bottom: 1em;
}

/* *** MEDIA QUERIES ***  */

@media (min-width: 500px) {
  .hero__title {
    margin-top: 2em;
  }
}

@media (min-width: 600px) {
  .articles__container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }

  .perks__container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* *** DESKTOP ***  */

@media (min-width: 1024px) {
  /* ** ACTIVE STATES ** */

  .main-nav__link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(
      0.25turn,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
  }

  .btn-primary:hover {
    filter: brightness(110%);
    cursor: pointer;
  }

  .footer-nav__link:hover,
  .article__heading:hover {
    color: var(--hover-clr);
    cursor: pointer;
  }

  /* * NEEDS SOME WORK *  */
  .footer-nav-media__link:hover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: var(--hover-clr);
    background: var(--hover-clr);
  }

  /* ** DESKTOP RESETS **  */

  :root {
    font-size: 20px;
  }
  body {
    text-align: left;
  }

  /* *** MAIN HEADER *** */

  .main-header__hamburger-icon {
    display: none;
  }
  .main-header__mobile-green-background {
    display: none;
  }

  .main-header__desktop-green-background {
    display: block;
    position: absolute;
    right: -24%;
    top: -42%;
    z-index: -1;
  }

  .main-header__mobile-background {
    position: relative;
    height: 90vh;
    max-height: 75vh;
  }

  .main-header__mobile-phones {
    max-height: 1100px;
    max-width: 100%;
    transform: translateX(0);
    padding: 0;
    top: -19%;
    left: 58%;
  }

  .main-header__main-nav {
    display: block;
  }

  .main-nav__list {
    display: flex;
  }

  .main-header__logo-nav {
    padding: 0.5rem 6rem;
    display: flex;
    justify-content: space-between;
  }

  .main-nav__list {
    margin: 0;
    padding: 0;
  }

  .main-nav__link {
    position: relative;
    font-size: 0.8rem;
    padding-bottom: 1em;
    margin-right: 1.5em;
    color: var(--text-clr);
    transition: 0.3s;
  }

  .main-header__mobile-logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .main-header__button {
    display: block;
  }

  .hero,
  .perks,
  .articles,
  .footer {
    padding: 2rem 7.2rem;
  }

  .hero {
    position: absolute;
    top: 17%;
  }

  .hero__title {
    padding: 0 17em 0 0;
    font-size: 2.5rem;
  }

  .hero__subtitle {
    width: 30em;
  }

  .articles__container {
    grid-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
  }

  .perks__container {
    grid-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
  }

  .perk__image {
    margin: 0;
    padding: 0;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .footer-nav__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4em;
    margin: 0;
  }

  .footer-nav__logo-container {
    margin: 0;
  }

  .footer__nav {
    margin: 0;
    padding: 0;
  }

  .footer-nav__list {
    margin: 0;
    padding: 1em 0 0 0;
  }

  .footer-nav__item {
    margin: 0.5em 0;
  }

  .footer__logo {
    padding: 1em 0 2em 0;
    margin: 0;
  }

  .footer-nav-media__link {
    margin-left: 1.5em;
  }

  .footer-nav-media__item {
    position: relative;
  }

  .footer-nav-media__image {
    width: 23px;
  }

  .button-copyright-text-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    margin-top: 1em;
  }

  .footer__button {
    margin-bottom: 1em;
  }
}

@media (min-width: 1300px) {
  .main-header__desktop-green-background {
    right: -15%;
    top: -31%;
    max-width: 1000px;
  }

  .main-header__mobile-phones {
    max-height: 1100px;
    top: -19%;
    left: 65%;
  }
}

@media (min-width: 1800px) {
  .main-header__desktop-green-background {
    max-width: 1500px;
  }
}
